.jumbotron {
  margin: 5% auto;
  margin-left: 43%;
}

td {
  height:150px;
  width:150px;
  text-align: center;
  border: 5px solid black;
  font-size: 100px;
}

table {
  margin: auto auto;
  border: 2px solid black;
}

button {
  background-color: pink;
  padding: 10px;
  border: none;
}

body {
  background-color: lavender;
}